<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6">
    
    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24259.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">TRON</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24208.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">ONE PIECE</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24272.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">WICKED</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24270.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">WICKED</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24257.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">TRON</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24247.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">PEACEMAKER</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24252.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">G-20</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24106.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">G-20</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

    <!-- CARD -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden hover:scale-[1.02] transition">
        <img class="w-full h-52 object-cover" src="https://4kwallpapers.com/images/walls/thumbs/24183.jpg" alt="">
        <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800">G-20</h2>
            <p class="text-gray-600 text-sm mt-1">Horario: <span class="font-semibold">18:00</span></p>
            <p class="text-gray-600 text-sm">Clasificación: <span class="font-semibold">18+</span></p>
            <p class="text-gray-600 text-sm">Sala: <span class="font-semibold">5</span></p>
        </div>
    </div>

</div>
